* {
    margin: 0;
    padding: 0;
}

/* Header Section */

header {
    padding: 20px;
    background-image: linear-gradient(to right, #3a7bd5, #4ca1af);
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: black 2px 2px;
    font-size: 15px;
    border-bottom: 1px solid black;
}

/* Nav Bar */

.navbar {
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:10px;
    background-color: rgb(48, 48, 48);
    display: flex;
    
}

.navbar ul {
    justify-content: flex-start;
}

.navbar li {
    display: inline;
}

.navbar a{
    display:inline-block;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.navbar a:hover {
    color:#753ad5;
    transition: 0.5s;
}

/* Image */

.image {
    width: 60%;
    height: 70vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}